<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap 5 với Node.js</title>
    <!-- Thêm Bootstrap CSS -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <%- include('header') %>
    
        <!-- <% if (url === "/home" || url === "/") { %> -->
        <%- include('main') %>
        <!-- <% } else if (url === "/about") { %>
            <%- include('about') %>
        <% } else if (url === "/contact") { %>
            <%- include('contact') %>
        <% } %> -->
    
        <%- include('footer') %>
        
    </div>
</body>
</html>